@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
    width: 960px;
    font-family: 'Metrophobic', Arial, serif;
    font-weight: 400;
  }

* {
  margin:auto;
  padding;0px;
}
.container {
    margin:0px 11px;
}

a {
    text-decoration:none;
    color:blue ;
  }
.header {
    margin-top: 16px;
    height: 51px;
    margin-bottom: 34px;
  }

.clearfix {
    clear:both;
    margin:0px;
  }

.logo {
    color:#0096d2;
    font-size:25px;
    border-style: solid;
    border-width: medium;
    border-color:#444444;
    padding:10px 20px;
    text-transform:uppercase;
    width: 100px;
    float: left;
    margin-bottom: 15px;
  }
  .menu {
    float: left;
    margin-top: 20px;
  }

.menu ul {
    margin: auto 5px;
  }
.menu > ul > li {
    float:left;
    margin-left:80px;
    list-style-type:none;
  }

.serviceBox {
  width: 288px;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color:#444444;
  margin-bottom: 15px;
}
.serviceBox3 {
  width: 288px;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color:#444444;
  margin-bottom: 15px;
  margin-left: 32px;
}
.serviceBox2 {
  width: 288px;
  float: right;
  margin-left: 15px;
  border-style: solid;
  border-width: 1px;
  border-color:#444444;
  margin-bottom: 15px;
}
.innerService {
  padding: 15px 15px
}
.innerService h3 {
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.innerService p {
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
}

.aboutUs {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 15px 15px;
}

.aboutUs h3 {
  font-size: 23px;
  text-transform: uppercase;
  line-height: 35px;
}
.aboutUs p {
  line-height: 20px;
  font-size: 13px;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 45px;
  padding: 0px 15px 15px;
}

.owner {
  width: 230px;
  height: 230px;
  float: left;
}
.descripton {
  width: 230px;
  height: 230px;
  float: left;
  background-color: #eeeeee;
}
.descripton h2 {
  padding: 15px 15px;
  text-transform: uppercase;
  line-height: 25px;
  font-size: 20px;
}

.descripton h4 {
  padding: 0px 15px;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 15px;
  color: #797070;
}

.descripton p {
  padding: 15px 15px;
  line-height: 25px;
  font-size: 15px;
  color: #797070;
}

.line {
    margin-top: 15px;
    margin-bottom: 15px;
    border-style:solid;
    border-top: 1px;
    border-top-color: #827b00;
    border-width: 1px;
}
