@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
    font-family: 'Metrophobic', Arial, serif;
    font-weight: 400; }

* {
  margin: auto;;
  padding: 0px;
}
.container {
  margin:0px 11px;
}
  a {
  text-decoration:none;
  color:blue ;
  }

  h2 {
    text-transform:uppercase;
    font-size:20px;
    font-weight:500;
    }
  h3 {
    text-transform:uppercase;
    font-size:18px;
    font-weight:500;
    }

  .clearfix {
    clear:both;
    margin:0px;
    }

.header {
  margin-top: 16px;
  height: 51px;
  }


.logo {
  padding:5px;
  color:#0096d2;
  font-size:25px;
  border-style: solid;
  border-width: medium;
  border-color:#444444;
  padding:10px 20px;
  text-transform:uppercase;
  }

.menu ul {
    margin: auto 5px;
  }
.menu > ul > li {
  float:left;
  margin-left:80px;
  list-style-type:none;
  }

  .slider {
  color:white;
  background-color:#444444;
  height:350px;
  width:100%;
  line-height:350px;
  text-transform:uppercase;
  }

  .left {
    float:left;
    width:60%;
    }

  .left h2 {
       text-transform:uppercase; font-size:25px; font-weight:300;
       }

  .right  {
  float:left;
  width:15%

  }

  .img-boder {
  border-style: solid;
  border-width: medium;
  border-color:#10abe9;
  height:245px;
  width:400px;
  text-align:center;
  line-height:200px;
  text-transform:uppercase;
  font-size:20px;
  margin-top:30px;

  }

  .box_one {
  float:left;
  width:250px;
  }
  .box_one > ol {
    margin:auto;
    padding-left:15px;
    }

  .box_one > ol > li {
      line-height:22px;
      }

  .box_two {
  float:left;
  width:250px;

  }
  .box_two ul {
    margin:auto;
    padding-left:0px;
    }

      .box_two ul li {
      list-style-type:none;
      line-height:22px;
      }

  .box_three {
  float:left;
  width:500px;
  }
  .box_three ul {
    margin:auto;
    padding-left:0px;
    }
  .box_three .menu {
    float:left;
    padding-top:10px;
    }

  .box_three .menu > ul > li {
  float:left;
  margin-left:74px;
  list-style-type:none;
  }
  .box_three p {
  padding-left:75px;
  padding-top:38px;
  }