@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Metrophobic', Arial, serif;
  font-weight: 400;
}
* {
  margin: 0 auto;
  padding:0px;
}
a {
  text-decoration: none;
}
.btn {
  background: #ea5b58;
  width: 145px;
  height: 53px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
}
.clearfix {
  margin: auto;
  clear: both;
}

.mainContainer {
  width: 1400px;
  margin: 0 auto;
  padding:0px;
}
.container {
  width: 1201px;
  margin: 0 auto;
  padding:0px;
}

/** Header style sheet **/
.header {
  height: 80px;
  background: #0d0b11;
}

.logo {
  text-align: center;
  color: #fffff;
  float: left;
  margin: 25px auto;
}

.menu {
  margin-top: 35px;
  float: right;
}
.menu ul li {
  margin-right: 52px;
  float: left;
  color: #ffffff;
  list-style-type: none;
}
.menu ul li a {
  color: #ffffff;
}
.slider {
  width: 100%;
  background-color: #161828;
  position: absolute;
  height: 470px;
}

.slider h1 {
  position: relative;;
  color: #ffffff;
  top: 118px;
  left: 0px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
}

.slider p {
  position: relative;;
  color: #ffffff;
  line-height: 24px;
  font-size: 24px;
  top: 150px;
  left: 0px;
}


.slider img {
  position: relative;
  color: #ffffff;
  top: 27px;
  left: 60%;
}

.imgBg {
  right: 0;
  background: url("img/sliderImage.png");
  position: absolute;
  width: 100%;
}

.imgBox {
  color: #ffffff;
  right: 0;
  left: 15px;
  top: 27px;
  background: url("img/box.png");
  position: relative;
}

.sliderBtn {
  position: relative;
  background: #ea5b58;
  color: #ffffff;
  right: 44%;
  bottom: 137px;
}

