@import url(https://fonts.googleapis.com/css?family=Open+Sans);

a:hover {
  text-decoration: none;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid #0d0b11;
  z-index: 999;
  background-color: #0d0b11;
}
.navbar-fixed-top {
  position: fixed;
  top: 0;
}
.navbar {
  border-radius: 0px;
}

.navbar-brand>img {
  display: block;
  margin-top: 6px;
}

.navbar-right {
  margin-right: -15px;
  margin-top: 10px;
}

.navbar-default {
  height: 80px;
  background-color: #0d0b11;
  border-color: #0d0b11;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}
.slider {
  position: relative;
  height: 470px;
  margin-top: 80px;
}

.carousel-caption {
  right: 0;
  padding-bottom: 13%;
  left: 15%;
  text-align: start;
}

.btn-danger {
  padding: 12px 25px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

/** Services style ***/

.service {
  background: #475a85;
  padding-top: 70px;
  padding-bottom: 100px;
  height: 555px;
}

.service h2 {
  color: #ffffff;
}

.service p {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.sereptorWhite {
  color: #ffffff;
  background: url(../img/separator.png) no-repeat;
  background-position: center;
  padding-bottom: 50px;
  font-size: 18px;
}
.services {
  padding: 54px 0px;
  padding-bottom: 79px;
}
.services h3 {
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
}

.btn-services {
  margin-top: 25px;
  padding: 8px 15px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.work {
  background: url(../img/portfolioBg.jpg) repeat;
  padding: 172px 0px;
}
.work h3 {
  color: #ffffff;
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
}

.work p {
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
}

/** Portfolio **/

.portfolio {
  padding: 50px 0;
}

.sereptorBlank {
  background: url(../img/portSep.png) no-repeat;
  background-position: center;
  padding-bottom: 50px;
  font-size: 18px;
}

.portfolio .headline {
  color: #323232;
  font-size: 38px;
  line-height: 40px;
}

.portfolio .sereptor {
  color: #323232;
  font-size: 18px;
  line-height: 20px;
}

.breadcrumb {
  padding: 20px 0;
  list-style: none;
  background-color: #ffffff;
  border-radius: 4px;
}

.breadcrumb li a {
  text-decoration: none;
  color: #a7a7a7;
  font-size: 18px;
  line-height: 20px;
}

.breadcrumb li a:hover {
  color: #323232;
}

.portfolioBox {
  background: #7b7b7b;
  margin: 13px 0px;
  padding: 25px 24px;
}

.portfolioBox h3 {
  color: #ffffff;
  font-size:30px;
}

.portfolioBox p {
  color: #ffffff
}

.portfolioBox:hover {
  background: #506083;
}

.browseAll {
  padding-top: 50px;
}

.browseAll h4 {
  font-size: 24px;
  line-height: 26px;
}

.browseAll h3 {
  font-size: 18px;
  line-height: 20px;
}

.glyphicon-chevron-down {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 50px;
}

.testmonial {
  padding: 50px 0;
}
.testmonial .carousel {
  position: relative;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #7b7b7b;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 11.5px;
}
#fade-quote-carousel.carousel .carousel-indicators > li:active {
  background-color: #323232;
  width: 23px;
  height: 23px;
  border-radius: 11.5px;
}
#fade-quote-carousel blockquote {
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 100px;
    float: left;
}
blockquote {
  padding: 50px 250px;
  margin: 0 0 100px;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
}
blockquote p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

blockquote .clientName {
  font-size: 24px;
  line-height: 26px;
  color: #323232;
  font-weight: 500;
}

.map {
  margin: 0 0;
  height: 512px;
}

footer {
  background: #475a85;
  padding: 80px 0;
}
.footerHeading {
  color: #ffffff;
  font-size: 38px;
  line-height: 40px;
}

.footerPara {
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
}

.contactDetails {
  color: #ffffff;
  text-align: left;
}

.contactDetails h3 {
  font-size: 24px;
  line-height: 26px;
  padding-bottom: 30px;
}

.contactDetails p {
  font-size: 17px;
  line-height: 19px;
  padding-bottom: 10px;
}

.contactDetails p a {
  color: #ffffff;
}

.contactDetails p a:hover {
  color: #333;
}

.form-group {
  padding: 20px 0px;
}

.form-group {
  margin-bottom: 19px;
}

.input-sm {
  height: 60px;
  padding: 0 22px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-group>.btn:first-child {
  margin-top: 18px;
  margin-left: 15px;
  padding: 15px 45px;
}

.form-control {
  font-size: 14px;
  padding: 20PX 22px;
}

.copyRight {
  background: #161828;
  padding: 50px 50px;
}

.copyRight  p {
  font-size: 18px;
  line-height: 20px;
  color: #76777f;
}

.icon {
  background: url(../img/sprite.png) -1px -1px no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.globalTrend {
  background-position: -1px -41px;
  width: 41px;
  height: 41px;
  display: inline-block;
}
.responsive {
  background-position: -2px -89px;
  width: 41px;
  height: 41px;
  display: inline-block;
}
.awesomeDesign {
  background-position: 3px -137px;
  width: 49px;
  height: 44px;
  display: inline-block;
}
.portfolioView {
  background-position: -40px 12px;
  width: 45px;
  height: 45px;
  display: inline-block;
}

.socialFb {
  background-position: -91px -35px;
  width: 45px;
  height: 45px;
  display: inline-block;
}

.socialGp {
  background-position: -92px 7px;
  width: 45px;
  height: 45px;
  display: inline-block;
}

.socialTw {
  background-position: -46px -144px;
  width: 45px;
  height: 45px;
  display: inline-block;
}

.socialGp:hover {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background: #ffffff;
}


.scroll {
  width: 58px;
  height: 58px;
  bottom: 214px;
  right: 15px;
  border-radius: 3px;
  background: #c2c2c2;
  position: fixed;
  padding: 20px 20px;
}