@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid #0d0b11;
  z-index: 999;
  background-color: #0d0b11;
}

.navbar {
  border-radius: 0px;
}

.navbar-brand>img {
  display: block;
  margin-top: 6px;
}

.navbar-right {
  margin-right: -15px;
  margin-top: 10px;
}

.navbar-default {
  height: 80px;
  background-color: #0d0b11;
  border-color: #0d0b11;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.carousel-caption {
  right: 0;
  padding-bottom: 13%;
  left: 15%;
  text-align: start;
}

.btn-danger {
  padding: 12px 25px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

/** Services style ***/

.service {
  background: #475a85;
  padding: 50px 0;
}

.service h2 {
  color: #ffffff;
}

.service .sereptor {
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
}

.service p {
  color: #ffffff;
}

.separator {
  padding-left: 38%;
  padding-top: 20px;
}

.services {
  padding-top: 80px;
}
.services h3 {
  color: #ffffff;
}

.btn-services {
  margin-top: 25px;
  padding: 8px 15px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.work {
  background: url(../img/portfolioBg.png);
  padding: 172px 0px;
}
.work h3 {
  color: #ffffff;
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
}

.work p {
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
}

/** Portfolio **/

.portfolio {
  padding: 50px 0;
}

.portfolio .headline {
  color: #323232;
  font-size: 38px;
  line-height: 40px;
}

.portfolio .sereptor {
  color: #323232;
  font-size: 18px;
  line-height: 20px;
}

.breadcrumb {
  padding: 50px 0;
  margin-bottom: 20px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 4px;
}

.breadcrumb li a {
  text-decoration: none;
  color: #a7a7a7;
  font-size: 18px;
  line-height: 20px;
}

.breadcrumb li a:hover {
  color: #323232;
}

.portfolioBox {
  background: #7b7b7b;
  margin: 15px 15px;
  padding: 20px 20px;
}

.portfolioBox h3 {
  color: #ffffff;
  font-size:30px;
}

.portfolioBox p {
  color: #ffffff
}

.portfolioBox:hover {
  background: #506083;
}

.glyphicon-chevron-down {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 86px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 50px;
}

.testmonial {
  padding: 50px 0;
}

/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/


section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 100px;
    float: left;
}
blockquote {
    padding: 50px 250px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

blockquote .clientName {
  font-size: 24px;
  line-height: 26px;
}

.map {
  margin: 200px 0;
}

footer {
  background: #475a85;
  padding: 80px 0;
}
.FooterHeading {
  color: #ffffff;
  font-size: 38px;
  line-height: 40px;
}

.FooterPara {
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
}

address {
  color: #ffffff;
}

.form-group {
  margin-bottom: 15px;
  padding: 20px 0px;
}

.input-sm {
    height: 40px;
    padding: 10px 13px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-group>.btn:first-child {
    margin-top: 18px;
    margin-left: 15px;
    padding: 15px 45px;
}

.copyRight {
  background: #161828;
  padding: 50px 50px;
  margin-bottom: 50px;
}

.copyRight  p {
  font-size: 18px;
  line-height: 20px;
  color: #76777f;
}